<%# get to cmd prompt and get to users/pasha/documents/ this folder to launch the program the run live port on vs code%>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Moonlight Hotel</title>
        <%= stylesheet_link_tag "main.css" %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="background">
        <div style="width: 100%; display:flex;">
            <div style="max-width: 20%;">
                <%= image_tag('logo.png', style:"width:100%") %>
            </div>
            <div style="width: 80%;">
                <h1 class="Title">Moonlight Hotel</h1>
            </div>
        </div>

        <div class="container">
            <div class="box">
                <div class="images-container">
                    <%= image_tag('standard1.jpg', class:"images") %>
                </div>
                <div class="text">
                    <h3>Standard Room</h3>
                    <p class="base_price">$100</p>
                    <p class="full_price">$110 includes taxes & fees</p>
                    <%= link_to 'Reserve Room', welcome_standardBooking_path, class:"redirect-link"%>
                </div>
            </div>
            <div class="box">
                <div class="images-container">
                    <%= image_tag('deluxe1.jfif', class:"images") %>
                </div>
                <div class="text">
                    <h3>Deluxe Room</h3>
                    <p class="base_price">$150</p>
                    <p class="full_price">$170 includes taxes & fees</p>
                    <%= link_to 'Reserve Room', welcome_deluxeBooking_path, class:"redirect-link"%>
                </div>
            </div>
            <div class="box">
                <div class="images-container">
                    <%= image_tag('connecting1.jpg', class:"images") %>
                </div>
                <div class="text">
                    <h3>Connecting Room</h3>
                    <p class="base_price">$200</p>
                    <p class="full_price">$220 includes taxes & fees</p>
                    <%= link_to 'Reserve Room', welcome_connectedBooking_path, class:"redirect-link"%>
                </div>
              </div>
            <div class="box">
                <div class="images-container">
                    <%= image_tag('suite1.jfif', class:"images") %>
                </div>
                <div class="text">
                    <h3>Suite</h3>
                    <p class="base_price">$200</p>
                    <p class="full_price">$230 includes taxes & fees</p>
                    <%= link_to 'Reserve Room', welcome_suiteBooking_path, class:"redirect-link"%>
                </div>
            </div>
        </div>  
        <h1 style="text-align: center; font-size: vw;">Our Location</h1>  
        <div class="Location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3314.7267749939356!2d-117.9229038839461!3d33.81936333741198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcd62b3434c4b1%3A0x4ee319f1b1bc74d1!2sAnaheim%20Majestic%20Garden%20Hotel!5e0!3m2!1sen!2sus!4v1676434017996!5m2!1sen!2sus" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
        </div>
    </body>
</html>



