<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Moonlight Hotel</title>
        <%= stylesheet_link_tag "booking.css" %>
        <%= javascript_include_tag "booking.js" %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="background">
        <div style="width: 100%; display:flex;">
            <div style="max-width: 20%;">
                <%= image_tag('logo.png', style:"width:100%") %>
            </div>
            <div style="width: 80%;">
                <h1 class="Title"><%= link_to 'Moonlight Hotel', welcome_index_path, style:"text-decoration: none;color: black;"%></h1>
            </div>
        </div>
        <h1 style="text-align:center;margin:0;">Standard Room</h1>
        <div class="slideshow-container">
            <div class="mySlides fade">
                <%=image_tag('standard1.jpg')%>
            </div>

            <div class="mySlides fade">
                <%=image_tag('standard2.jpg')%>
            </div>
            <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
            <a class="next" onclick="changeSlide(1)">&#10095;</a>
        </div>
        <div class="calendar">
            <div class="calendar-header">
                <a href="#" class="calendar-control prev">&lt;</a>
                <div class="calendar-title"></div>
                <a href="#" class="calendar-control next">&gt;</a>
            </div>
            <div class="calendar-body">
                <div class="calendar-row week-days">
                <div class="calendar-cell">Sun</div>
                <div class="calendar-cell">Mon</div>
                <div class="calendar-cell">Tue</div>
                <div class="calendar-cell">Wed</div>
                <div class="calendar-cell">Thu</div>
                <div class="calendar-cell">Fri</div>
                <div class="calendar-cell">Sat</div>
                </div>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                    $(function() {
                        var date = new Date();
                        renderCalendar(date.getMonth(), date.getFullYear());

                        $('.calendar .prev').click(function() {
                            date.setMonth(date.getMonth() - 1);
                            renderCalendar(date.getMonth(), date.getFullYear());
                        });

                        $('.calendar .next').click(function() {
                            date.setMonth(date.getMonth() + 1);
                            renderCalendar(date.getMonth(), date.getFullYear());
                        });

                        function renderCalendar(month, year) {
                            $('.calendar-body .calendar-row:not(:first-of-type)').remove();
                            $('.calendar-title').text(getMonthName(month) + ' ' + year);
                            var daysInMonth = new Date(year, month + 1, 0).getDate();
                            var firstDayOfMonth = new Date(year, month, 1).getDay();

                            var currentDay = 1;
                            var lastDayOfPrevMonth = new Date(year, month, 0).getDate();
                            var prevMonthDaysToShow = firstDayOfMonth === 0 ? 6 : firstDayOfMonth - 1;
                            var prevMonthStart = lastDayOfPrevMonth - prevMonthDaysToShow + 1;

                            for (var i = 0; i < 6; i++) {
                            var row = $('<div class="calendar-row"></div>');

                            for (var j = 0; j < 7; j++) {
                                var cell = $('<div class="calendar-cell"></div>');

                                if (i === 0 && j < firstDayOfMonth) {
                                    cell.text(prevMonthStart).addClass('prev-month');
                                    prevMonthStart++;
                                } else if (currentDay > daysInMonth) {
                                    cell.text(currentDay - daysInMonth).addClass('next-month');
                                    currentDay++;
                                } else {
                                    cell.text(currentDay);
                                    currentDay++;
                                }

                                if (cell.text() == new Date().getDate() && month == new Date().getMonth() && year == new Date().getFullYear()) {
                                    cell.addClass('today');
                                }

                                if (Math.random() < 0.2) {
                                    cell.addClass('event');
                                } else if (Math.random() < 0.4) {
                                    cell.addClass('booked');
                                }

                                row.append(cell);
                            }
                            $('.calendar-body').append(row);
                            }
                        }
                        function getMonthName(month) {
                            var monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                            return monthNames[month];
                        }
                        });
                </script>
            </div>
        </div>
    </body>
</html>
