<div id="<%= dom_id room %>">
  <p>
    <strong>Room Type:</strong>
    <%= room.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= room.price %>
  </p>

  <p>
    <strong>Check-In</strong>
    <%= room.from_date %>
  </p>

  <p>
    <strong>Check-Out</strong>
    <%= room.to_date %>
  </p>

</div>
