<body class="background">
  <div class="main">
    <div style="width: 100%; display:flex;">
      <div style="max-width: 20%;">
          <%= image_tag('logo.png', style:"width:100%") %>
      </div>
      <div style="width: 80%;">
          <h1 class="Title">Moonlight Hotel</h1>
      </div>
    </div>
    
    <nav class="navbar">
      <%= link_to 'Rooms', welcome_main_path, class:"navbar-item"%>
      <%= link_to 'Attrations', welcome_attractions_path, class:"navbar-item"%>
      <%= link_to 'About Us', welcome_aboutUs_path, class:"navbar-item"%>
    </nav>
  </div>

  <h1 style="text-align:center;margin:0;" id='roomType'></h1>
  <div class="slideshow-container">
    <div class='slides'></div>
      <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
      <a class="next" onclick="changeSlide(1)">&#10095;</a>
    </div> 
    <div class="information">
      <table>
        <tr>
          <td><i class="range-square"></i></td>
          <td><p id='sq-ft'></p></td>
        </tr>
        <tr>
          <td> 
            <div class='svgFile'>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M32 32c17.7 0 32 14.3 32 32V320H288V160c0-17.7 14.3-32 32-32H544c53 0 96 43 96 96V448c0 17.7-14.3 32-32 32s-32-14.3-32-32V416H352 320 64v32c0 17.7-14.3 32-32 32s-32-14.3-32-32V64C0 46.3 14.3 32 32 32zm144 96a80 80 0 1 1 0 160 80 80 0 1 1 0-160z"/></svg>
            </div>
          </td>
          <td><p id='beds'></p></td>
        </tr>
        <tr>
          <td> 
            <div class='svgFile'>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M223.5 32C100 32 0 132.3 0 256S100 480 223.5 480c60.6 0 115.5-24.2 155.8-63.4c5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6c-96.9 0-175.5-78.8-175.5-176c0-65.8 36-123.1 89.3-153.3c6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"/></svg>
            </div> 
          </td>
          <td><p id='sleeps'></p></td>
        </tr>
        <tr>
          <td> 
            <div class='svgFile'>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M54.2 202.9C123.2 136.7 216.8 96 320 96s196.8 40.7 265.8 106.9c12.8 12.2 33 11.8 45.2-.9s11.8-33-.9-45.2C549.7 79.5 440.4 32 320 32S90.3 79.5 9.8 156.7C-2.9 169-3.3 189.2 8.9 202s32.5 13.2 45.2 .9zM320 256c56.8 0 108.6 21.1 148.2 56c13.3 11.7 33.5 10.4 45.2-2.8s10.4-33.5-2.8-45.2C459.8 219.2 393 192 320 192s-139.8 27.2-190.5 72c-13.3 11.7-14.5 31.9-2.8 45.2s31.9 14.5 45.2 2.8c39.5-34.9 91.3-56 148.2-56zm64 160a64 64 0 1 0 -128 0 64 64 0 1 0 128 0z"/></svg>
            </div> 
          </td>
          <td><p>Free Internet Access</p></td>
        </tr>
        <tr>
          <td> 
            <div class='svgFile'>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM192 256h48c17.7 0 32-14.3 32-32s-14.3-32-32-32H192v64zm48 64H192v32c0 17.7-14.3 32-32 32s-32-14.3-32-32V288 168c0-22.1 17.9-40 40-40h72c53 0 96 43 96 96s-43 96-96 96z"/></svg>
            </div> 
          </td>
          <td><p>Free Parking</p></td>
        </tr>
        <tr>
          <td> 
            <div class='svgFile'>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M309.5 178.4L447.9 297.1c-1.6 .9-3.2 2-4.8 3c-18 12.4-40.1 20.3-59.2 20.3c-19.6 0-40.8-7.7-59.2-20.3c-22.1-15.5-51.6-15.5-73.7 0c-17.1 11.8-38 20.3-59.2 20.3c-10.1 0-21.1-2.2-31.9-6.2C163.1 193.2 262.2 96 384 96h64c17.7 0 32 14.3 32 32s-14.3 32-32 32H384c-26.9 0-52.3 6.6-74.5 18.4zM160 160A64 64 0 1 1 32 160a64 64 0 1 1 128 0zM306.5 325.9C329 341.4 356.5 352 384 352c26.9 0 55.4-10.8 77.4-26.1l0 0c11.9-8.5 28.1-7.8 39.2 1.7c14.4 11.9 32.5 21 50.6 25.2c17.2 4 27.9 21.2 23.9 38.4s-21.2 27.9-38.4 23.9c-24.5-5.7-44.9-16.5-58.2-25C449.5 405.7 417 416 384 416c-31.9 0-60.6-9.9-80.4-18.9c-5.8-2.7-11.1-5.3-15.6-7.7c-4.5 2.4-9.7 5.1-15.6 7.7c-19.8 9-48.5 18.9-80.4 18.9c-33 0-65.5-10.3-94.5-25.8c-13.4 8.4-33.7 19.3-58.2 25c-17.2 4-34.4-6.7-38.4-23.9s6.7-34.4 23.9-38.4c18.1-4.2 36.2-13.3 50.6-25.2c11.1-9.4 27.3-10.1 39.2-1.7l0 0C136.7 341.2 165.1 352 192 352c27.5 0 55-10.6 77.5-26.1c11.1-7.9 25.9-7.9 37 0z"/></svg>
            </div> 
          </td>
          <td><p>Pool</p></td>
        </tr>
      </table>
      <p id='base_price'></p>
      <p id='full_price'></p>
    </div>
  </div>
</body>

<%= render "form", room: @room %>
<script>
  //variables
  var currentSlide = 0;

  //Get Info of room
  function updatePulledInfo (){
    var params = ['roomType', 'bPrice', 'fPrice']
    var ids = ["roomType", "base_price", "full_price"];
    for (var i = 0; i < ids.length; i++) {
      var element = document.getElementById(ids[i]);
      var urlParams = new URLSearchParams(window.location.search);
      var getInfo = urlParams.get(params[i]);
      if (getInfo != element.textContent){
        element.textContent = getInfo;
        window.localStorage.setItem(ids[i], getInfo);
      }else if (localStorage.getItem(ids[i]) != null) {
        element.textContent = window.localStorage.getItem(ids[i]);
      }else{
        element.textContent = getInfo;
        window.localStorage.setItem(ids[i], getInfo);
      }
    }
  }

  //Post info into html
  function updateOtherInfo() {
    var idFields = ['roomTypeField', 'totalPriceField'];
    var idText = ['roomType', 'full_price'];

    var field = document.getElementById('roomTypeField');
    var text = document.getElementById('roomType').textContent;
    field.value = text;

    var field = document.getElementById('totalPriceField');
    var text = document.getElementById('full_price').textContent;
    text = text.slice(-3);
    field.value = text;

    var roomFields = ['#sq-ft', '#beds', '#sleeps']
    var roomStandard = ['430 sq ft', '1 King Bed', 'Sleeps 2']
    var roomDeluxe = ['560 sq ft', '2 Queen Beds', 'Sleeps 4']
    var roomConnecting = ['650 sq ft', '4 Queen Beds', 'Sleeps 8']
    var roomSuite = ['780 sq ft', '1 King Beds', 'Sleeps 2']
    if (localStorage.getItem('roomType') == 'Standard Room') {
      for (var i = 0; i < 3; i++){
        p = document.querySelector(roomFields[i]);
        p.textContent = roomStandard[i];
      }
      var images = ['/assets/standard1.jpg','/assets/standard2.jpg'];
      createSlider(images);
    }else if (localStorage.getItem('roomType') == 'Deluxe Room') {
      for (var i = 0; i < 3; i++){
        p = document.querySelector(roomFields[i]);
        p.textContent = roomDeluxe[i];
      }
      var images = ['/assets/deluxe1.jfif','/assets/deluxe2.jfif','/assets/deluxe3.jfif'];
      createSlider(images);
    }else if (localStorage.getItem('roomType') == 'Connecting Room') {
      for (var i = 0; i < 3; i++){
        p = document.querySelector(roomFields[i]);
        p.textContent = roomConnecting[i];
      }
      var images = ['/assets/standard1.jpg','/assets/standard2.jpg'];
      createSlider(images);
    }else if (localStorage.getItem('roomType') == 'Suite Room') {
      for (var i = 0; i < 3; i++){
        p = document.querySelector(roomFields[i]);
        p.textContent = roomSuite[i];
      }
      var images = ['/assets/standard1.jpg','/assets/standard2.jpg'];
      createSlider(images);
    }
  }

  //Image Slider
  function createSlider(images){
    var carousel = document.querySelector('.slideshow-container');
    var slidesContainer = carousel.querySelector('.slides');
    var prevBtn = carousel.querySelector('.prev');
    var nextBtn = carousel.querySelector('.next');

    // Create slides dynamically
    images.forEach((imageSrc, index) => {
      var slide = document.createElement('div');
      slide.classList.add('mySlides');
      slide.classList.add('fade');
      if (index === currentSlide) {
        slide.classList.add('active');
        slide.style.display = 'block';
      }
      var img = document.createElement('img');
      img.src = imageSrc;
      slide.appendChild(img);
      slidesContainer.appendChild(slide);
    });
    currentSlide += 1;
  }

  // Add event listeners to buttons
  function changeSlide(n) {
    currentSlide = currentSlide + n;
    updateSlide();
  }

  // Update slide based on currentSlide
  function updateSlide() {
    var slides = document.getElementsByClassName("mySlides");
    if (currentSlide > slides.length) {
      currentSlide = 1;
    }
    if (currentSlide < 1) {
      currentSlide = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (let i = 0; i < slides.length; i++) {
      slides[i].className = slides[i].className.replace(" active", "");
    }
    slides[currentSlide - 1].style.display = "block";
    slides[currentSlide - 1].className += " active";
  }

  async function runInfo() {
    await updatePulledInfo();
    await updateOtherInfo();
  }
  runInfo();
</script>