<script src="https://kit.fontawesome.com/3764241a81.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<body class="background">
  <div class="main">
    <div style="width: 100%; display:flex;">
      <div style="max-width: 20%;">
          <%= image_tag('logo.png', style:"width:100%") %>
      </div>
      <div style="width: 80%;">
          <h1 class="Title">Moonlight Hotel</h1>
      </div>
    </div>
    
    <nav class="navbar">
      <%= link_to 'Rooms', welcome_main_path, class:"navbar-item"%>
      <%= link_to 'Attrations', welcome_attractions_path, class:"navbar-item"%>
      <%= link_to 'About Us', welcome_aboutUs_path, class:"navbar-item"%>
    </nav>
  </div>

  <h1 style="text-align:center;margin:0;" id='roomType'></h1>
  <div class="slideshow-container">
    <div class="mySlides fade">
      <%=image_tag('standard1.jpg')%>
    </div>
    <div class="mySlides fade">
      <%=image_tag('standard2.jpg')%>
    </div>
      <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
      <a class="next" onclick="changeSlide(1)">&#10095;</a>
    </div> 
    <div class="information">
      <p>430 sq ft</p>
      <p id='base_price'></p>
      <p id='full_price'></p>
      <p>1 King Bed</p>
      <p>Sleeps 2</p>
      <p>Free Wifi</p>
    </div>
  </div>
</body>
<%= render "form", room: @room %>
<script>
  var params = ['roomType', 'bPrice', 'fPrice']
  var ids = ["roomType", "base_price", "full_price"];

  for (var i = 0; i < ids.length; i++) {
    var element = document.getElementById(ids[i]);
    
    // If there is saved text content, set the element's text content to it
    if (localStorage.getItem(ids[i]) != null) {
      element.textContent = window.localStorage.getItem(ids[i]);
    }else{
      var urlParams = new URLSearchParams(window.location.search);
      var getInfo = urlParams.get(params[i]);
      element.textContent = getInfo;
      window.localStorage.setItem(ids[i], getInfo);
    }
  }

  var idFields = ['roomTypeField', 'totalPriceField'];
  var idText = ['roomType', 'full_price'];

  var field = document.getElementById('roomTypeField');
  var text = document.getElementById('roomType').textContent;
  field.value = text;

  var field = document.getElementById('totalPriceField');
  var text = document.getElementById('full_price').textContent;
  text = text.slice(-3);

  field.value = text;
</script>

<%= javascript_include_tag "slider.js" %>