<body class="background">
  <div class="main">
    <div style="width: 100%; display:flex;">
      <div style="max-width: 20%;">
          <%= image_tag('logo.png', style:"width:100%") %>
      </div>
      <div style="width: 80%;">
          <h1 class="Title">Moonlight Hotel</h1>
      </div>
    </div>
    
    <nav class="navbar">
      <%= link_to 'Rooms', welcome_main_path, class:"navbar-item"%>
      <%= link_to 'Attrations', welcome_attractions_path, class:"navbar-item"%>
      <%= link_to 'About Us', welcome_aboutUs_path, class:"navbar-item"%>
    </nav>
  </div>

  <div class="confirmation-container">
    <h2>Confirmation Order Page</h2>
    <table>
      <tr>
          <th>First Name:</th>
          <td><%= @room.firstName %></td>
      </tr>
      <tr>
          <th>Last Name:</th>
          <td><%= @room.lastName %></td>
      </tr>
      <tr>
          <th>Email:</th>
          <td><%= @room.userEmail %></td>
      </tr>
      <tr>
          <th>Room Type:</th>
          <td><%= @room.name %></td>
      </tr>
      <tr>
          <th>Check-in Date:</th>
          <td><%= @room.from_date %></td>
      </tr>
      <tr>
          <th>Check-out Date:</th>
          <td><%= @room.to_date %></td>
      </tr>
      
      <tr>
          <th>Total Cost:</th>
          <td>$<%= @room.price %></td>
      </tr>
      <tr>
          <th>Additional Services:</th>
          <td>Breakfast, Room Service, Pool</td>
      </tr>
    </table>
    <p>Thank you for choosing our hotel. We look forward to seeing you soon!</p>
    <a href="#" onclick="window.print()">Print Confirmation Page</a>
  </div>
  <div>
    <%= link_to "Change Check-In or Check-Out", edit_room_path(@room) %>
    <%= button_to "Cancel this room", @room, method: :delete %>
  </div>
</body>