<body class="background">
  <div class="main">
    <div>
        <%= image_tag('logo.png', class:"mainIMG") %>
        <h1 class="Title">Moonlight Hotel</h1>
    </div>

    <nav class="navbar">
        <%= link_to 'Rooms', welcome_main_path, class:"navbar-item"%>
        <%= link_to 'Attrations', welcome_attractions_path, class:"navbar-item"%>
        <%= link_to 'About Us', welcome_aboutUs_path, class:"navbar-item"%>
    </nav>
  </div>

  <div class="confirmation-container">
    <h2>Confirmation Order Page</h2>
    <table>
      <tr>
          <th>First Name:</th>
          <td><%= @room.firstName %></td>
      </tr>
      <tr>
          <th>Last Name:</th>
          <td><%= @room.lastName %></td>
      </tr>
      <tr>
          <th>Email:</th>
          <td><%= @room.userEmail %></td>
      </tr>
      <tr>
          <th>Room Type:</th>
          <td><%= @room.name %></td>
      </tr>
      <tr>
          <th>Check-in Date:</th>
          <td><%= @room.from_date.strftime('%m-%d-%Y 4:00 PM') %></td>
      </tr>
      <tr>
          <th>Check-out Date:</th>
          <td><%= @room.to_date.strftime('%m-%d-%Y 11:00 AM') %></td>
      </tr>
      <tr>
          <th>Total Cost:</th>
          <td id='totalPrice'></td>
      </tr>
      <tr>
          <th>Additional Services:</th>
          <td>Breakfast, Room Service, Pool</td>
      </tr>
    </table>
    <p>Thank you for choosing our hotel. We look forward to seeing you soon!</p>
  </div>
  <div >
    <a href="#" onclick="window.print()" class='extraConfirm'>Print Confirmation Page</a>
    <br>
    <%= link_to "Change Check-In or Check-Out", edit_room_path(@room), class:'extraConfirm'%>
    <br>
    <%= link_to "Cancel this room", @room, class:'extraConfirm', method: :delete %>
  </div>
</body>

<script>

//Get database days
  var startDate;
  var endDate;

  $.ajax({
      url: '/rooms', 
      type: 'GET',
      dataType: 'json',
      success: function(data) {
        var latestRoom = data.length-1;
        // Loop through the data and add it to the 2D array
        let fromDate = new Date(data[latestRoom].from_date);
        let toDate = new Date(data[latestRoom].to_date);
        let fromDay = fromDate.getDate();
        let fromMonth = fromDate.getMonth()+1;
        let fromYear = fromDate.getFullYear();
        let toDay = toDate.getDate();
        let toMonth = toDate.getMonth()+1;
        let cost = data[latestRoom].price;

        // Create calendar after data is finished
        var totalDays = Math.ceil(Math.abs(toDate.getTime() - fromDate.getTime()) / (1000 * 3600 * 24));
        var totalPrice = cost*totalDays;
        var field = $('#totalPrice');
        field.text('$'+totalPrice);
      },
      error: function(jqXHR, textStatus, errorThrown) {
          console.log(textStatus + ': ' + errorThrown);
      }
  });
</script>